mlx
mlx-lm
torch
torchvision
ollama
hydra-core
wandb
pandas
numpy
matplotlib
seaborn
tqdm
python-dotenv
pytest
ruff
black
mkdocs
mkdocs-material
jupyter
mkdocs-autorefs
mkdocstrings[python]
mkdocs-gen-files
